
*{
    margin: 0%;
    padding: 0%;
}
.carousel-inner{
    height:350px ;
    
}

#card{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    

}
P{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

#revbox{
    position: absolute;
    height: 20%;
    width: 64%;
    top: 105%;
    right: 18%;
    background-color: #FAF9F6;
}
#logo{
     position: absolute;
     right:76%;
     top: 20%;

     height: 100%;
     width: 20%;
}

#rev{
    position: absolute;
    height:50px ;
    width: 70%;
    right: 5%;
    top: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: small;

}
#revtop{
    position: absolute;
    font-size: x-large;
    left: 2%;
}

#embdmap{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 130%;
    
}
#direction{
    position: absolute;
    top: 125%;
    
}
